# Prerequisites
*.d

_build/
.merlin

# Compiled Object files
*.slo
*.lo
*.o
*.obj
compile_commands.json
.clangd/
.ycm_extra_conf.py

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/

# Temporaries
*.swp

catch_install/
